*{
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 800px) {

  .bottom-right{
    position: absolute;
    left:10%;
    bottom: 0%;
    width: 15%;
  }
.audioContainer {
  position: absolute;
  bottom: 20%;
  left: 23%;
  width: 20%;
  height: 10%;
  z-index: 600;
  filter: brightness(1.2);
  }

  .logoContainer{
    max-width: 100vw;
    max-height: 10vh;
    background-color: transparent;
  }

  .foregrd {
    position: absolute;
    right: 0%;
    height:90%;
    width: 40%;
    overflow-x: hidden;
  }
  .phonesContainer{
   visibility: hidden;
  }
.mouseContainer{
  visibility: hidden;
}
  .boardContainer{
    position: absolute;
    border-radius: 1000%;
    max-width: 40vw;
  }

  .footer{
    width: 100vw;
    height: 10%;
  }
  .grid{
    visibility: hidden;
  }
  .gridChild{
    visibility: hidden;
  }
  .slide{
    visibility: hidden;
  }
  .intro{
    position: relative;
height: 50%;
width: 100%;
overflow-y: hidden;
font-size-adjust: inherit;
  }

  .boardContainer{
    position: relative;
    max-height: 100%;
  }
}

.foregrd {
    position: absolute;
    float: right;
    right: 0%;
         bottom: 0%;
                vertical-align: bottom;
                z-index: 100;
                    }

                    .header{
                      display: flex;
                      justify-content: center;
                      height: 9vh;
                      background-color: #010101;
                      }

                      .logoContainer{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: right;
                          height: 50%;
                          width: 22vw;
                          margin-top: 1%;
                        }

                        .audioContainer{
                          display: flex;
                          justify-content: left;
                          height: 50%;
                          width: 40vw;
                          margin-top: 2%;
                        }

                        .controls{
                          opacity: 0.4;
                          height: 2.4vh;
                          width: 100%;
                        }
                        
                        .logo{
                          height:6vh;
                          float: left;
                        }
                        
                        .name{
                          float: left;
                          font-size: x-large;
                          color: rgb(120, 120, 120);
                          vertical-align: middle;
                          font-family: ds-digital;
                          letter-spacing: 1px;
                        }


.hero{
    display: flex;
    justify-content: center;
    height: 61vh;
    background-image: url("../images/daw2.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    background-color: #010101;
    }
    
.mailBox{
    display: flex;
    justify-content: center;
    width: 66%;
    height: 95%;
    box-shadow: 0px 0px 5px 5px #EC4915;
    margin: auto;
    background:#010101;
    background-image: url("../images/beachmail.png"); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100vh;
}

.footer{
    display: flex;
    justify-content: center;
    height: 30vh;
    background-image: url("../images/blackwood.jpg");
    background-size: 100vw;
  }
    
  .phonesContainer{
    width: 17%;
    background-image: url("../images/phones.png");
    background-size: 115%;
    background-position:right;
    background-repeat: no-repeat;
    filter: invert(100%);
    margin-left: 4%;
}

.mouseContainer{
  width: 23%;
  background-image: url("../images/mouse.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-position-x: -16%;
  filter: brightness(0.7);
}

    .boardContainer {
        width: 60%;
        height: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 2fr;
        grid-template-rows: 4% 40% 40% 0%;
        gap: 5% 1.5%;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . . . ."
          "buffer faxPad sklzPad prjxPad mailPad volFader"
          "buffer rsmePad lnkdPad githPad behcPad volFader"
          ". . . . . .";
          background-image: url("../images/board1.png");
          filter:saturate(1.5);
          background-size: 76%;
          background-repeat: no-repeat;
          background-position: center;
          background-position-y: -0.5%;
      }
      
      .volFader { grid-area: volFader; 
    }
      
      .mailPad { grid-area: mailPad;            
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .behcPad { grid-area: behcPad;
        box-shadow: 0px 1px 2px 2px #FCFF55;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .prjxPad { grid-area: prjxPad;
        box-shadow: 0px 1px 2px 2px #14EC11;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .lnkdPad { grid-area: lnkdPad; 
        box-shadow: 0px 1px 2px 2px #0600FF;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%;}
      
      .sklzPad { grid-area: sklzPad; 
        box-shadow: 0px 1px 2px 2px #00FFE1;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%;}
      
      .githPad { grid-area: githPad;
        box-shadow: 0px 1px 2px 2px #BD00FF;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .rsmePad { grid-area: rsmePad;
        box-shadow: 0px 1px 2px 2px #FF0035;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .faxPad { grid-area: faxPad; 
        box-shadow: 0px 1px 2px 2px #FF00C7;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        font-family: ds-digital;
        font-size: x-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%;}
      
      .buffer { grid-area: buffer; }
  



        .bottom-right {
            position: absolute;
            bottom: 0%;
            right: -5%;
            font-family: monospace;
            font-weight: lighter;
            color: #f5f5f5;
            transform: translate(-50%, -50%);
            text-align: right;
            z-index: 200;
          }


  #delayedText{
    position: absolute;
    top: 34%;
    right: 11%;
    transform: translate(-50%, -50%);
    text-align: right;
    vertical-align: top;
    color: whitesmoke;
    font-family: poppins, sans-serif;
    font-size: medium;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    opacity: 0.6;
  }


.w3-button{
  font-family: ds-digital;
  font-weight: bolder;
  font-size: larger;
  background-color: rgb(255, 196, 0);
  border-color: rgb(0, 69, 158);
  border-width:thick;
  height: 16%;
  margin-top: 34%;
  margin-left: 84%;
  z-index: 1;
}

